

.generalContainer{
    position: relative;
}

.startPage{
    position: absolute;
    width: 600px;
    height: 600px
}

.game{
    position: absolute;
}

canvas{
    cursor: none;
}

/*
button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 40px;   
}*/
